# prism bot configuration

JID = 'prism@jabber.id'
PASSWORD = ''
NICK = 'prism'
ROOMS = [
    'example@jabber.de',
]

HOST = 'jabber.server'
PORT = 5222

# plugins

GITLAB_PRIVATE_TOKEN = 'voll privat alda'

KNECHTQT = ('knechtqt.addr', 60602)
